
<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Agreements</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Volume</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> $3,670,500
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Settled Agreements</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 12,100K
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">

    <div class="col">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Agreements</h4>
        </div>
        <div class="form-group pull-right">
          <input type="text" class="search form-control" placeholder="What you looking for?">
      </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Agreement Code</th>
                  <th>Agreement Name</th>
                  <th>Principal Code</th>
                  <th>Agreement Scope</th>
                  <th>Agreement Type</th>
                  <th>Agreement Mutuality</th>
                  <th>Counterparty Code</th>
                  <!-- <th class=" text-center">Curency Code</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let agreement of agreements">
                  <td>{{agreement.agreementCode}}</td>
                  <td>{{agreement.agreementName}}</td>
                  <td>{{agreement.principalCode}}</td>
                  <td>{{agreement.agreementScope}}</td>
                  <td>{{agreement.agreementType}}</td>
                  <td>{{agreement.agreementMutuality}}</td>
                  <td>{{agreement.counterpartyCode}}</td>
                  <!-- <td class=" text-center">$36,738</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
